<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Info - Amazin Online Bookstore</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<!-- Navigation Menu -->
<nav>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<h1>Contact Information</h1>
<p>The Amazin Online Bookstore was created as a group project for SYSC4806 at Carleton University.</p>
<p>The group members are as follows:</p>
<ul>
    <li>Ethan Stewart: 101223533</li>
    <li>Sam Wilson: 101195493</li>
    <li>Faareh Bashir</li>
    <li>Pietro Adamvoski: 101238885</li>
</ul>

</body>
</html>